<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/default">

<body>
<div layout:fragment="content" class="row">
    <div class="col-sm-12  btn-table">
        <form th:action="@{/features/salvar}" th:object="${features}" method="post">
            <input th:field="*{id}" type="hidden"/>
            <p class="h1">Cadastro Features</p>

            <div class="form-group">
                <label for="inputNome">Nome</label>
                <input type="text" class="form-control" id="inputNome" th:field="*{nome}"/>
                <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="badge badge-danger">erro</span>
            </div>

            <div class="form-group">
                <label for="inputDescricao">Descrição</label>
                <textarea type="text" class="form-control" id="inputDescricao" rows="3"
                          th:field="*{descricao}" />
                <span th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"
                      class="badge badge-danger">erro</span>
            </div>
            

            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Salvar</button>
                <a th:href="@{/features/}" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>