<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/default">

    <body>
        <div layout:fragment="content">
        <form th:action="@{/fabricante/salvar}" th:object="${fabricante}" method="post">
            <input th:field="*{id}" type="hidden" ></input>

            <p class="h1">Cadastro Fabricante</p>


            <div class="form-group">
                <label for="inputNome">Nome</label>
                <input type="text" class="form-control" id="inputNome" th:field="*{nome}"/>
                <span  th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="badge badge-danger" >erro</span>
            </div>

            <div class="form-group">
                <label for="inputEmail">E-mail</label>
                <input type="email" class="form-control" id="inputNome" th:field="*{email}"/>
                <span  th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="badge badge-danger" >erro</span>
            </div>

            <div class="form-group">
                <label for="inputTelefone">Telefone</label>
                <input type="text" class="form-control" id="inputNome" th:field="*{telefone}"/>
                <span  th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}" class="badge badge-danger" >erro</span>
            </div>


            <button type="submit" class="btn btn-primary">Salvar</button>
            <a th:href="@{/fabricante}" class="btn btn-secondary">Cancelar</a>

        </form>
</div>
</body>
</html>