<!DOCTYPE html>
<html>
<head>
    <div th:replace="layout/header :: head"></div>
</head>
<body>
<div th:replace="layout/navbar  :: navbar"></div>
<div class="container">
    <div class="wrapper">
        <form action="" name="Login_Form" class="form-signin">
        </form>
    </div>
</div>

    
    
    <div class="container">
    	<table layout:fragment="content" id="example"
		class="table table-striped table-bordered " cellspacing="0"
		width="100%">
		<thead class="thead-dark">
			<tr>
				<th>Nome</th>
				<th>Email</th>
				<th>Data de expiração</th>
				<th>Status conta</th>
                <th>Tipo de Usuário</th>
				<th>Alteração</th>
			</tr>

		</thead>
		<tbody>
			<tr th:each="user: ${users}">
				<td th:text="${user.name}"></td>
				<td th:text="${user.email}"></td>
				<td th:text="${#dates.format(user.expirationDate, 'dd-MM-yyyy')}"></td>
				<td th:if="${user.active}" >Ativo</td>
                <td th:if="not ${user.active}" >Desativado</td>
                <td th:text="${user.getRolesToString()}"></td>
				<td><a th:href="@{/admin/editar(id=${user.id})}">Editar</a></td>
			</tr>
		</tbody>
	</table>
    </div>  

</body>
</html>