<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout/default">
<body>
<div layout:fragment="content">
    <div class="container">
        <form th:action="@{/login}" method="POST" class="form-signin">
            <h3 class="form-signin-heading">Logar</h3>
            <br/>

            <label for="InputEmail">Email:</label>
            <input type="text" id="email" name="email" th:placeholder="Email"
                   class="form-control"/> <br/>
            <label for="Inputpassword">Senha:</label>
            <input type="password" th:placeholder="Password"
                   id="password" name="password" class="form-control"/> <br/>

            <div align="center" th:if="${param.error}" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
                <p style="font-size: 20; color: #FF1C19;" th:text="${errorMsg}"></p>
            </div>
            <br/>
            <p class="text-right"><a th:href="@{/registration}">Registre-se</a></p>
            <button class="btn btn-lg btn-primary " name="Submit" value="Login" type="Submit" th:text="Logar">Log-in
            </button>
            <a class="btn btn-lg btn-secondary " type="button" th:href="@{/equipamento}">Voltar</a>
        </form>
    </div>
</div>
</body>
</html>