<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout/default">
<body>
<div layout:fragment="content">
    <div class="container">
        <form th:action="@{/login}" method="POST" class="form-signin">
            <h3 class="form-signin-heading">Bem vindo,</h3>
            <p id="subtitleHeading" class="form-signin-heading">Faça o login para acessar todas as funcionalidades do Portal Homologaçao</p>
            <br/>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Digite seu email..." class="form-control"/>
            </div>

            <div class="form-group">
                <label for="password">Senha:</label>
                <input type="password" placeholder="Digite sua senha..." id="password" name="password"
                       class="form-control"/>
            </div>

            <div align="center" th:if="${param.error}"
                 th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
                <p style="font-size: 20; color: #FF1C19;" th:text="${errorMsg}"></p>
            </div>

            <div align="center">
                <button class="btn btn-primary btn-block" name="Submit" value="Login" type="Submit">Logar</button>
            </div>

        </form>
    </div>
</div>
</body>
</html>