<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/default">
    <body>
        <div layout:fragment="content" class="row">
            <div class="col-sm-12  btn-table">
                <form th:action="@{/equipamento/salvar(editar=true)}" th:object="${equipamento}" method="post" enctype="multipart/form-data">

                    <input th:field="${equipamento.equipamento.id}" type="hidden" />
                    <p class="h1">Cadastro Equipamento</p>
                    <div class="form-group">
                        <label for="inputNome">Nome</label>
                        <input type="text" class="form-control" id="inputNome" th:field="${equipamento.equipamento.nome}" />
                        <span th:if="${#fields.hasErrors('equipamento.nome')}" th:errors="${equipamento.equipamento.nome}" class="badge badge-danger">erro</span>
                    </div>

                    <div class="form-group">
                        <label for="inputFabricante">Fabricante</label>
                        <select th:field="${equipamento.equipamento.fabricante}" class="form-control" id="inputFabricante">
                            <option value="" selected="selected">Selecione...</option>
                            <option th:each="fabricante : ${fabricantes}" th:value="${fabricante.id}" th:text="${fabricante.nome}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputData">Data de início do processo Homologação</label>
                        <input type="date" class="form-control" id="inputData" th:field="${equipamento.equipamento.dataInicio}" />
                        <span th:if="${#fields.hasErrors('equipamento.dataInicio')}" th:errors="${equipamento.equipamento.dataInicio}" class="badge badge-danger">erro</span>
                    </div>
                    <div class="form-group">
                        <label for="inputData">Data de término do processo Homologação</label>
                        <input type="date" class="form-control" id="inputData" th:field="${equipamento.equipamento.dataTermino}" />
                        <span th:if="${#fields.hasErrors('equipamento.dataTermino')}" th:errors="${equipamento.equipamento.dataTermino}" class="badge badge-danger">erro</span>
                    </div>
                    <div class="form-group">
                        <label for="inputSegmento">Segmento</label>
                        <select th:field="${equipamento.equipamento.segmento}" class="form-control" id="inputSegmento">
                            <option value="" selected="selected">Selecione...</option>
                            <option th:value="B2B">B2B</option>
                            <option th:value="B2C">B2C</option>
                            <option th:value="B2B-B2C">B2B/B2C</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputStatus">Status</label>
                        <select th:field="${equipamento.equipamento.status}" class="form-control" id="inputStatus">
                            <option value="" selected="selected">Selecione...</option>
                            <option th:value="EmTestes">Em Testes</option>
                            <option th:value="NaoHomologado">Não Homologado</option>
                            <option th:value="Homologado">Homologado</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="inputStatus">Tipo</label>
                        <select th:field="${equipamento.equipamento.tipo}" class="form-control" id="inputStatus">
                            <option value="" selected="selected">Selecione...</option>
                            <option th:each="tipo : ${tipos}" th:value="${tipo.id}" th:text="${tipo.nome}"></option>
                        </select>
                    </div>

                    <div class="form-horizontal">
                        <label for="inputImagem">Selecione a Imagem</label><br>
                        <label th:if="${editar}">A imagem anterior será substituida caso você escolha outra aqui</label>
                        <input type="file" class="form-control" id="inputImagem" th:field="${equipamento.imagem}" />
                        <span th:if="${#fields.hasErrors('imagem')}" th:errors="${imagem}" class="badge badge-danger">erro na imagem</span>
                    </div><br>

                    <div class="form-horizontal">
                        <label for="inputCaderno">Selecione o Caderno de Testes</label><br>
                        <label th:if="${editar}">O Caderno de testes anterior será substituida caso você escolha outro aqui</label>
                        <input type="file" class="form-control" id="inputImagem" th:field="${equipamento.caderno}" />
                        <span th:if="${#fields.hasErrors('caderno')}" th:errors="${caderno}" class="badge badge-danger">erro no caderno</span>
                    </div><br>

                    <div class="form-horizontal">
                        <label for="inputDataSheet">Selecione o DataSheet</label><br>
                        <label th:if="${editar}">O DataSheet de testes anterior será substituida caso você escolha outro aqui</label>
                        <input type="file" class="form-control" id="inputImagem" th:field="${equipamento.dataSheet}" />
                        <span th:if="${#fields.hasErrors('dataSheet')}" th:errors="${dataSheet}" class="badge badge-danger">erro no DataSheet</span>
                    </div>
                    <br>
                    <div class="form-horizontal">
                        <label for="inputImagem">Selecione os anexos</label>
                        <div th:if="${editar}" style="width: 250px; height: 200px; overflow-y: scroll;">
                            <label><strong>Anexos já cadastrados:</strong><br> Selecione para remover</label>
                            <table class="table table-striped table-hover">
                                <thead>
                                </thead>
                                <tbody>
                                    <tr th:each="anexo: ${anexos}">
                                        <td>
                                            <input type="checkbox" th:field="${equipamento.filesName}" th:value="${anexo}" />
                                            <label><a th:href="@{'/equipamento/file/'+${equipamento.equipamento.id}+'/'+${anexo}}"><span th:text="${anexo}"></span></a></label>
                                        </td>
                                    </tr>
                                <label th:if="${anexos.length} == 0"><br><center>Este equipamento não possui anexos.</center></label>
                                </tbody>
                            </table>
                        </div><br>
                        <label th:if="${editar}">Adicione mais anexos utilizando o campo abaixo</label>
                        <input type="file" class="form-control" multiple="multiple" id="inputFiles" th:field="${equipamento.files}" />
                        <span th:if="${#fields.hasErrors('files')}" th:errors="${files}" class="badge badge-danger">erro nos arquivos</span><br>
                        

                    <div class="form-group">
                        <label for="inputFeatures">Features</label>
                        <div th:each="features : ${featuress}"> 
                            <input type="checkbox" th:field="${equipamento.equipamento.features}" th:value="${features.id}" />
                            <label th:text="${features.nome}"></label>
                        </div>
                    
                    <div class="form-group">
                        <label for="inputHomologado">Homologado Para:</label>
                        <div th:each="homologado : ${homologados}"> 
                            <input type="checkbox" th:field="${equipamento.equipamento.homologado}" th:value="${homlogado.id}" />
                            <label th:text="${homologado.nome}"></label>
                        </div>
                    </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" >Salvar</button>
                            <a th:href="@{/equipamento}" class="btn btn-secondary">Cancelar</a>
                        </div>
                </form>
            </div>
        </div>
    </body>
</html>