<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="layout/headerListar :: head"></div>
    <!-- E script para caralho para a DataTable funcionar certinho kkkkk-->
    <script type="text/javascript" class="init">
        $(document).ready(function () {
            var table = $('#example').DataTable({
                lengthChange: true,
                responsive: true,
                buttons: ['copy', {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6]
                    }
                }, {
                    extend: 'pdfHtml5',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6]
                    }
                }, 'colvis'],

            });

            table.buttons().container()
                .appendTo('#example_wrapper .col-md-6:eq(0)');
        });
    </script>
</head>

<body>
<div th:replace="layout/navbar  :: navbar"></div>
<table layout:fragment="content" id="example" class="table table-striped table-bordered " cellspacing="0" width="100%">
    <thead class="thead-dark">
    <tr>
        <th>Fabricante</th>
        <th>Equipamento</th>
        <th>Segmento</th>
        <th>Data início de testes</th>
        <th>Data término de testes</th>
        <th>Status</th>
        <th>Alteração</th>
        <th>Informações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="equipamento: ${equipamentos}">
        <td th:text="${equipamento.fabricante.nome}"></td>
        <td th:text="${equipamento.nome}"></td>
        <td th:text="${equipamento.segmento}"></td>
        <td th:text="${#dates.format(equipamento.dataInicio, 'dd/MM/yyyy')}"></td>
        <td th:if="${equipamento.dataTermino != null}" th:text="${#dates.format(equipamento.dataTermino,'dd/MMyyyy')}"></td>
        <td th:if="${equipamento.dataTermino == null}">Testes não finalizados</td>
        <td th:text="${equipamento.status}"></td>
        <td><a th:href="@{/equipamento/editar(id=${equipamento.id})}">Editar</a></td>
        <td><a th:href="@{/equipamento/view(id=${equipamento.id})}">Informações</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>