<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   
    <head>
    
    
    <style>
.emtestes {
color:rgba(255,255,0,1.00);
}
.nhomologado {
color:rgba(255,0,0,1.00);
}
.homologado {
color:rgba(0,255,0,1.00);
}
</style>
    
    
    
        <div th:replace="layout/headerListar :: head"></div>
    <!-- E script para caralho para a DataTable funcionar certinho kkkkk-->
    <script type="text/javascript" class="init">
        $(document).ready(function () {
            var table = $('#example').DataTable({
                lengthChange: true,
                responsive: true,
                buttons: ['copy', {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, {if (${equipamento.status} == "EmTestes") {
                                return '<p class="emtestes">'+${equipamento.status}+'</p>';
                            } else if (${equipamento.status} == "Homologado") {
                                return '<p class="homologado">'+${equipamento.status}+'</p>';
                            }  else if (${equipamento.status} == "NaoHomologado") {
                                return '<p class="nhomologado">'+${equipamento.status}+'</p>';
                            } 
                    }, 6] {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6]
                        }
                    }, 'colvis'],

            });

            table.buttons().container()
                    .appendTo('#example_wrapper .col-md-6:eq(0)');
        });
        
    </script>
    </head>
 
    <div th:replace="layout/navbar  :: navbar"></div>
   <body>
      <table layout:fragment="content" id="example" class="table table-striped table-bordered " cellspacing="0" width="100%">
         <thead class="thead-dark">
            <tr>
               <th>Fabricante</th>
               <th>Equipamento</th>
               <th>Segmento</th>
               <th>Data início de testes</th>
               <th>Data término de testes</th>
               <th>Status</th>
               <th>Tipo</th>
               <th>Alteração</th>
               <th>Informações</th>
            </tr>
         </thead>
         <tbody>
            <tr th:each="equipamento: ${equipamentos}">
               <td th:text="${equipamento.fabricante.nome}"></td>
               <td th:text="${equipamento.nome}"></td>
               <td th:text="${equipamento.segmento}"></td>
               <td th:text="${equipamento.dataInicio}"></td>
               <td th:text="${equipamento.dataTermino}"></td>
               <td th:text="${equipamento.status}" style="color:#ff0000"></td>
               <td th:text="${equipamento.tipo.nome}"></td>
               <td><a th:href="@{/equipamento/editar(id=${equipamento.id})}">Editar</a></td>
               <td><a th:href="@{/equipamento/view(id=${equipamento.id})}">Informações</a></td>
            </tr>
         </tbody>
      </table>
   
   </body>
</html>