<!DOCTYPE html>
<html>
<head>
    <div th:replace="layout/header :: head"></div>

    <script type="application/javascript">
        function build() {
            var url = "";
            var cbox = document.getElementsByName("");
            for (var i = 0; i < cbox.length; i++) {
                if (cbox[i].checked) {
                    if (url.length > 0)
                        url += ",";
                    url += cbox[i].value;
                }
            }
            var final = document.location.href + "&tipo=" + url;
//                var searchParams = new URLSearchParams(final.search);
//                final += searchParams.get('segmento');
            document.location.href = final;
        }
    </script>
</head>

<body>
<div th:replace="layout/navbar  :: navbar"></div>
<div class="container">
    <div class="wrapper">
        <div name="typeForm" class="form-signin">
            <h3 class="form-signin-heading"><strong>EQUIPAMENTOS</strong></h3>
            <hr class="colorgraph">
            <br>
            <div class="form-group">
                <label id="labelTipos" class="inputSelectTypes">Selecione os tipos desejados</label>
                <div class="form-check" th:each="tipo : ${tipos}">
                    <input class="form-check-input" type="checkbox" th:id="${tipo.id}" th:attr="name='checkOption'" th:field="${tipoSearch}" th:value="${tipo.id}"/>
                    <label class="form-check-label" th:for="${tipo.id}" th:text="${tipo.nome}"></label>
                </div>
                <div class="inputSelectTypes">
                    <button type="button" id="buttonSearchTypes" class="btn btn-outline-success" onclick='build()'>Buscar</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
